.footer {
    height: 22vh;
    margin: 0;
    background-color: #8bcdcd;
}

.ft-div {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
}

.navbar-brand {
    position: relative;
    z-index: 1;
}

.navbar-collapse form[role="search"] {
    z-index: 2;
}